@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    font-family:'Open Sans';
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

main{
    display: grid;
    place-items: center;
    height: 100vh;
}